h1,h2,h3, h4{
    color: #e57373;
    font-weight: 200;
}

p{
    color: #424242;
    font-weight: 200;
}

.image-img{
    margin-top: 0px;
    padding: 0px 1px 1px 10px;
    width: 150px;
}

.image-link{
    color: #e57373;
    font-weight: 110;
    font-size: smaller;
}

.image-stock-content{
    position: sticky;
    top: 20px;
}